table, th, td{
	border: 1px solid black;
}
table tbody{
	color: orange;
	background-color: green;
}
table thead{
	color: green;
	background-color: orange;
}
table tfoot{
	color: gray;
	background-color: brown;
}
h2 + table{
    width: 275px;
    padding: 15px;
    border: 25px outset navy;
    margin: 25px;
	height: 100%;
	background-color: indigo;
}
h1{
}
h2{
}
main ol{
    width: 300px;
    padding: 25px;
    border: solid yellow;
	border-width: 0px 25px 0px 25px;
    margin: 25px;
	height: 100%;
	background-color: red;
    background: #ff9999;
}
main ul{
    width: 300px;
    padding: 5px;
    border: 25px outset red;
    margin: 25px;
	height: 100%;
	background-color: yellow;
}
li > ul{
    width: 300px;
    padding: 5px;
    border-width: 25px 0px 25px 25px;
	border-style: dotted solid dotted solid;
	border-color: gray;
	
    margin: 25px;
	height: 100%;
	background-color: blue;
	color: orange;
}
h1 ~ ul{
    width: 300px;
    padding: 25px;
    border: 25px dashed green;
    margin: 35px;
	height: 100%;
	background-color: orange;
}
