*{
	//outline: dotted red 1px;
}
body{
}
nav{
	float:left;
	width:200px;
}
main{
	margin: 41px 0 0 201px;
}
img.left{
	float:left;
	margin: 0 25px 60px 8px;
}
img.right{
	float:right;
	margin: 0 8px 60px 10px;
}
a:hover{
	background-color:yellow;
}
br.clear{
	clear:both;
}
h3.indent{
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
} 
ul.left{
    position: relative;
    left: 18px;
}
p.right{
    position: relative;
    left: 22px;
}
li{
    list-style-type: square;
}
li a {
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
	width: 184px;
}

li a.active {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}
h1{
}
h2{
}
article h3{
	border-width: 0px 0px 8px 0px;
	border-color:gray;
	border-style: solid;
}
p{
}
article{
	background-color:teal;
	
}
footer{
	clear:both;
}
